<div class="container">
    <h3 class="display-3 text-center mb-5">
        About Us
    </h3>
    <div class="card mb-4 lead text-justify">
        <ul class="list-group">
            <li class="list-group-item">Use user <u>email 'user&#64;gmail.com'</u> and <u>password ‘user1234’</u> to
                test
                out and
                look at various features of the website.</li>
            <li class="list-group-item">Website that allows users to sign up and login to browse and/or buy from a
                catalogue of electronic
                products
            </li>
            <li class="list-group-item">Search bar on the home page allows the user to search products by name, brand or
                category.
            </li>
            <li class="list-group-item">Customer(User) facing side of the website includes:
                <ul>
                    <li>Facility to add products to the cart via the home page or the product details page.</li>
                    <li>The cart page to edit the quantity of the individual products or remove them from the cart</li>
                    <li>Checkout page to make a payment and purchase the products on the cart. </li>
                    <li>Orders page to view all the previous orders placed by the user</li>
                    <li>Wishlist page to view, add or remove products to their personal Wishlist.</li>
                </ul>
            </li>
            <li class="list-group-item">Admin facing side of the website includes:
                <ul>
                    <li>Facility to add/delete/update any product.</li>
                    <li>All Orders page that displays a clickable list of all the orders placed on the website and total
                        earnings.</li>
                    <li>Order Details page that lists all of the products and their quantity in the order.</li>
                    <li>Wishlist Data for all Products that lists all of the Products and the number of times it has
                        been wishlisted.</li>
                </ul>
            </li>
            <li class="list-group-item">Used Bootstrap 4 as CSS framework for styling. Deployed Github repo for Front
                End Angular SPA to Vercel.</li>
            <li class="list-group-item">Used Spring Boot 3 to build the REST API and deployed it to Azure.
            </li>
            <li class="list-group-item">Used Azure SQL Database as database for the application.</li>

        </ul>

    </div>
</div>